@{
    ViewData["Title"] = "Our Privacy Policy";
}
<h1 class="display-4">@ViewData["Title"]</h1>
<hr />
<p>
    This privacy policy explains how we here at SellYourStuff collect, use and distribute your
    personal information. This applies to all of the information we collect from you on our site.
    <br /><br />If this policy changes for any reason you will be notified via our homepage. We advise you to
    stay informed about your information and what we, as well as any other entity you interact with
    is allowed to do with it.
</p>
<h5>Your Information</h5>
<p>
    Only the information that you explicitly provide us is collected. The information that we collect about you
    may include name, email, address, photographs provided or personal possessions, and descriptions
    provided about said possessions. This site uses cookies to collect information and communicate to
    and from your device.

    <br /><br />By using this website you are automatically aggreeing to our policy regarding the use of your data.

    <br /><br />While using our site you should never worry about your data being leaked or used for any purposes
    other than those we have outlined in this privacy policy. Security measures are in place to assure
    that access to all of the information that we collect from our users is only accessible to us and our site.
    You have out word.

    <br /><br />If you have further questions about the use of your information by SellYourStuff please contact us <b>here</b>.
                                                                                                          <!--Link to the contact page here-->
</p>
